<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202183688942-lh6o80g8dme339bts45licm6ql30f5ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202183688942-lh6o80g8dme339bts45licm6ql30f5ir</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ZQm2oUQ9jE9vGMm48bwdKOEY6GOKKyU</string>
	<key>GCM_SENDER_ID</key>
	<string>202183688942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>betterwebnow.com.Jeopardy</string>
	<key>PROJECT_ID</key>
	<string>family-trivia-5b289</string>
	<key>STORAGE_BUCKET</key>
	<string>family-trivia-5b289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202183688942:ios:ad668d0880a43e28</string>
	<key>DATABASE_URL</key>
	<string>https://family-trivia-5b289.firebaseio.com</string>
</dict>
</plist>